In [ ]:
"""
Method	              Description

reverse()	    Reverses the order of the list
sort()	      Sorts the list
append()	    Adds an element at the end of the list
clear()	      Removes all the elements from the list
copy()	      Returns a copy of the list
count()	      Returns the number of elements with the specified value
extend()	    Add the elements of a list (or any iterable), to the end of the current list
index()	      Returns the index of the first element with the specified value
insert()	    Adds an element at the specified position
pop()	        Removes the element at the specified position
remove()	    Removes the first item with the specified value 

"""

In [17]:
#reverse()	    Reverses the order of the list

fruits = ["apple","banana","mango"]
fruits.reverse()

print(fruits)

['mango', 'banana', 'apple']

In [20]:
#sort()	      Sorts the list
#sorts the list ascending by default

fruits = ["apple", "mango","banana"]
fruits.sort()

print(fruits)

['apple', 'banana', 'mango']

In [5]:
# append()	    Adds an element at the end of the list

fruits = ["apple","banana","mango"]

fruits.append("orange")

print(fruits)


a = [1,2,3]
b = [4,5,6]

a.append(b)

print(a)

['apple', 'banana', 'mango', 'orange']
[1, 2, 3, [4, 5, 6]]

In [6]:
#clear()   Removes all the elements from the list

fruits = ["apple","banana","mango"]
fruits.clear()

print(fruits)

[]

In [7]:
#copy()	      Returns a copy of the list

fruits = ["apple","banana","cherry"]
s= fruits.copy()

print(s)

['apple', 'banana', 'cherry']

In [8]:
#count()   Returns the number of elements with the specified value
# How many times  "cherry" appears in the fruits list

fruits = ["cherry","apple" ,"cherry","cherry","mango","cherry","banana"]

x= fruits.count("cherry")

print(x)

4

In [10]:
#extend()	   Add the elements of a list (or any iterable), to the end of the current list
#merge 2 list

fruits = ["cherry","apple" ,"cherry","cherry","mango","cherry","banana"]
x= [1,2,3,4]

fruits.extend(x)

print(fruits)

['cherry', 'apple', 'cherry', 'cherry', 'mango', 'cherry', 'banana', 1, 2, 3, 4]

In [11]:
#index()	      Returns the index of the first element with the specified value

x= ['cherry', 'apple', 'cherry', 'cherry', 'mango', 'cherry', 'banana', 1, 2, 3, 4]

s= x.index(3)
print(s)

9

In [13]:
#insert()	    Adds an element at the specified position
#syntax:  list.insert(pos, elmnt)

x= ['cherry', 'apple', 'cherry', 'cherry', 'mango', 'cherry', 'banana', 1, 2, 3, 4]
x.insert(4,"bimboo!")

print(x)

['cherry', 'apple', 'cherry', 'cherry', 'bimboo!', 'mango', 'cherry', 'banana', 1, 2, 3, 4]

In [15]:
#pop()	    Removes the element at the specified position
#Syntax: list.pop(pos)

x= ['cherry', 'apple', 'cherry', 'cherry', 'mango', 'cherry', 'banana', 1, 2, 3, 4]
x.pop(3)

print(x)

['cherry', 'apple', 'cherry', 'mango', 'cherry', 'banana', 1, 2, 3, 4]

In [16]:
#remove()	   Removes the first item with the specified value

x= ['cherry', 'apple', 'cherry', 'cherry', 'mango', 'cherry', 'banana', 1, 2, 3, 4]
x.remove("cherry")

print(x)

['apple', 'cherry', 'cherry', 'mango', 'cherry', 'banana', 1, 2, 3, 4]